body {
	position: relative;
	margin: 0px;
	background-color: #e5e5e5;
}

header {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #f1f1f1;

	display: -webkit-flex;
	display: flex;
}

nav {
	position: absolute;
	width: 100%;
	height: 48px;
	background-color: #FFFFFF;
	botder-style: solid;
	border-bottom: 1px;
	border-color: #d9d9d9;

	display: -webkit-flex;
	display: flex;
}

article {
	float: left;
	clear: both;
	border-width: 0px;
	border-style: solid;
	margin: 50px 0px 0px 0px;
	width: 100%;
}

footer{
	float: left;
	clear: both;
	border-width: 0px;
	border-style: solid;
	margin: 50px 0px 0px 0px;
	width: 100%
}

div {
	border-width: 0px;
	border-style: solid;
}

.area_mainlogo {
	float:left;
	-webkit-flex: none;
	flex: none;
}

.img_mainlogo{
	margin: 10px 31px 0px 30px;
	padding:0px;
	width:183px;
	height:39px;
}

.area_searchbox{
	float:left;
	width: 100%;
	min-width: 333px;
	max-width: 650px;
}

.search_box{
	float:left;
	margin: 15px 0px 0px 0px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
}

.search_text{
	float: left;
	-webkit-flex: initial;
	flex: initial;
	width: 800px;


	font: 16px arial,sans-serif;
	border:#cccccc;
	border-style:solid;
	border-width:1px;
	padding: 5px 5px 5px 8px;
	margin: 0px 0px 0px 0px;
}

.search_button{
	float: left;
	-webkit-flex: none;
	flex: none;
	width:60px;
	height:30px;
	background-color:#4285f4;

	border-style:none;
	border-radius:2px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	margin: 0px 0px 0px -1px;
}

.img_search{
	background-position: -69px -349px;
	display: inline-block;
	margin: -3px;
	height: 30px;
	width: 30px;
	background-image: url('http://ssl.gstatic.com/gb/images/v1_2e543709.png');
}
.area_buffer{
	-webkit-flex: 1;
	flex: 1;
}
.area_app{
	float: right;
	-webkit-flex: none;
	flex: none;
}

.img_app{
	background-position: -51px -452px;
	display: inline-block;
	margin: -1px;
	height: 30px;
	width: 30px;
	background-image: url('http://ssl.gstatic.com/gb/images/v1_2e543709.png');
	margin: 15px 15px 0px 0px;
}

.area_login{
	float: right;
	-webkit-flex: none;
	flex: none;
}

.login_button{
	width:68px;
	height:30px;
	background-color:#4285f4;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "Roboto",Arial,sans-serif;
	border-style:none;
	border-radius:2px;
	margin: 15px 33px 0px 0px;
}

.login_button:hover{
	box-shadow:0px 1px 2px #999;
}

.area_sidebar{
	-webkit-flex: none;
	flex: none;
	float: left;
	width: 200px;
	height: 240px;
	background-color: rgba(245, 245, 245, 0.952941);
}

.area_lib{
	width: 200px;
	height: 48px;
	background-color: rgb(26, 161, 225);
}

.img_lib{
	float: left;
	display: block;
	height: 24px;
	margin: 12px 0 0 28px;
	width: 24px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA40lEQVQoz+2RTRGDMBhEIyESKgEJSEACEioBB5GABCQgIRKQgITXQzc0QNIwbbl02Jlw+H72JYsBjDHGAB0w64zAADSmIKDW7Bjtd+o9P8AEtMBNg7GmsLAxbtSLNcjjLtACCPK6UaOBWCNgZd5verN2ankE7QBBTjcZEpAuc2uX8MkCQjS1nusTfa9Y60RUhwDxa2zmB7vC7iEAMivWLsAFuAD/DnAnANwC0HADzD8AzECr/gugQgX4LwAeqCK/NUBFC/QfAHrAbrz2gKjZhsgKgCWShEceEEf2BrCKJAs48zwAsmsx4ZbVwpEAAAAASUVORK5CYII=);
}

.title_lib{
	float: left;
	color: rgb(255, 255, 255);
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin: 15px 0px 0px 21px;
}

.expand{
	float: left;
	background-color: #FFF;
	height: 192px;
	width: 24px;
}

.img_expand{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVQ4y2P4//8/Ay0xw6gFg98CbKCjo8MAiA8AcQHVLYAa/gGI/4MsoaoFaIaDaAOqWYBmOAgHgMSpYgEWwxNgFlNsAT7DqWXBBVyGDxkLaBtENI9kPMk0gaoW0Dyj0aWowFLYNYzWB6MWMAAAq1H3+Mhu2hQAAAAASUVORK5CYII=);
	color: rgb(51, 51, 51);
	width: 24px;
	height: 24px;
	position: absolute;
	top: 132px;
}

.side_menu{
	float: left;
}

.side_menu div:hover{
	background-color: #e6e6e6; 
	-webkit-transition: all 0.0s ease;
}

.my_book{
	color: rgb(85, 85, 85);
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	height: 20px;
	width: 141px;
	line-height: 20px;
	padding: 8px 12px 8px 23px;
	visibility: visible;
	margin-top: 7px;
}

.shopping{
	color: rgb(19, 128, 181);
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	height: 20px;
	width: 141px;
	line-height: 20px;
	padding: 8px 12px 8px 23px;
	visibility: visible;
}

.area_space{
	-webkit-flex: none;
	flex: none;
	float: left;
	width: 40px;
	height: 1px;
}

#btn_g{
	position: relative;
	padding: 0px 3px 0px 15px;
}

#menu_dropdown{
	display: none;
	position: absolute;
	z-index: 1;
	width: 200px;
	height: 380px;
	margin: -5px 20px 0px 0px;
	padding: 5px 0px 0px 0px;
	background-color: #FFF;
	overflow-y: scroll;
	box-shadow: 0 2px 40px rgba(0,0,0,0.4);
	border: 1px solid #d6d6d6;
	border-radius: 3px;
}

#menu_dropdown ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}

.area_catagory{
	-webkit-flex: none;
	flex: none;
	float: left;
}

.area_catagory:hover{
	background-color: #f5f5f5; 
	-webkit-transition: all 0.0s ease;
}

.nav_button{
	float: left;
	color: rgb(115, 115, 115);
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	line-height: 48px;
	padding: 0px 15px 0px 15px;
	margin: 0px 0px 0px 0px;
}

.nav_button:hover {
	background-color: #f5f5f5; 
	-webkit-transition: all 0.0s ease;
}


.liStyle{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	line-height: 1.4;
	
}

.liStyle:hover {
	background-color: #f5f5f5; 
	-webkit-transition: all 0.0s ease;
}

.liStyle a {
	font-family: "Roboto",Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	color: #333;
}

.liStyle div{
	margin: 0px 0px 0px 0px;
	padding: 6px 14px;

	font-family: "Roboto",Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	color: #333;
}

.img_catagory{
	float: left;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAjUlEQVQoz2P4//8/A7mYYYhrzs3N5SsqKsoE0jLYFGZmZgoWFhZmAYEEhmagxsri4uL/QPwYaIAyssbs7GxhoPwFkDyQnoOhGWiqLlDyA7oBaBp/AdW5YfVzfn6+ObIBeXl5xsgagXQA3gBDM+AnLo04QxtqwHeoAX+xacQbVUC/RQA1vQQF5HBNYeRgAKO6bfkUgtZHAAAAAElFTkSuQmCC);
	height: 15px;
	margin: 17px 20px 1px 3px;
	width: 15px;
}

.area_bar{
	-webkit-flex: none;
	flex: none;
	float: left;
}

.divition_bar{
	height: 30px;
	width: 1px;
	background-color: #e5e5e5;
	margin-top: 10px;
}

.area_nav_button{
	-webkit-flex: none;
	flex: none;
	float: left;
}

.area_buffer2{
	-webkit-flex: 1;
	flex: 1;
}

.area_setting_button{
	-webkit-flex: none;
	flex: none;
	float: right;
}

.area_setting_button div:hover{
	box-shadow: 0px 1px 1px #b9b9b9;
	border-color:#b9b9b9;
	-webkit-transition: all .25s ease;
}

.help_button{
	float: left;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.17);
	color: #737373;
	width: 40px;
	height: 28px;
	margin: 10px 20px 0px 0px;
	border-radius: 2px;
}

.setting_button{
	float: left;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.17);
	color: #737373;
	width: 57px;
	height: 28px;
	margin: 10px 40px 0px 0px;
	border-radius: 2px;
}

.img_help{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAwUlEQVQ4y9WU6w3DIAyEGcEjZIQOwBAdgdEyikfoAAyRDVwTgZQQPyDKj/akkyIEn2zOIRBReNrh/6GsxEY2dS5raQrKWtgfAda77FlcKOvF3gaAzZsE7qGnCgGAEJGayndZ6ytWofUOTweOwCNYqDhp0EsoTTHG3U1SeBrUvD8HShdoTVwFDrQvQmEEqgQlQ732rbY9KE7M53BQSTuUc95tQNWRgptQc/jfN9q2f1PWOgn0H5Qa1Forhkefvp99+b/H6ZOyGDEoawAAAABJRU5ErkJggg==);
	display: inline-block;
	height: 21px;
	margin: 3px 3px 1px 10px;
	width: 21px;
}

.img_setting{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAA3klEQVQ4y2NgGE4gEYj/I+FEahg6D83QuaQawATEqkDMCOVbA/FdNEPvALEVVJ4Rqp4Jn6HZUI3XgHgNEP9DMxCG/0Hlr0H52bgMFALiN3gMeYLHkjdQ/RigDovi30DcgaRBGIg7gfgPFrV12AzVhYYXssI2HL7qwBLOuriCgA+IPyF5WQCHOl4g/gFV9xGqDy/4BVX8jIC6B1B1PwkZSHWX0iRM6/HEPi+SC3HFfi2udPoWRzr8As1ZX/CkU0FcQZBDYo66DuVn0T3vYwNz0AydTY2iLxXN0NThU1UAAJ7AjlNiNxjgAAAAAElFTkSuQmCC);
	display: inline-block;
	height: 21px;
	margin: 4px 3px 1px 18px;
	width: 21px;
}

.area_bookshelf{
	float: left;
	margin: 35px 20px 0px 250px;
}

.book_title{
	width: 100%;
	height: 80px;
	display: block;
	min-width: 350px;
}

.area_title {
	float: left;
}

.shelf_title{
	display: block;
	color: rgb(51, 51, 51);
	font-family: Roboto, Arial, sans-serif;
	font-size: 28px;
	line-height: 40px;
	text-align: left;
}

.shelf_subtitle{
	display: inline-block;
	color: rgb(85, 85, 85);
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	text-align: left;
}

.area_more_button{
	margin-top: 30px;
	float: right;
}

.more_button{
	float: right;
	width:68px;
	height:30px;
	background-color: #1aa1e1;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "Roboto",Arial,sans-serif;
	border-style:none;
	border-radius:2px;
	margin: 0px 0px 0px 0px;
}

.more_button:hover{
	background-color: #1bb5ff;
	-webkit-transition: all .25s ease;
}


.area_bookshelf > ul{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	width: 110%;
	height: 248px;
}

.area_bookshelf > ul > li {
	display: inline-block;
	float: left;
}

.area_cardbox{
	overflow: 
}

.book_card{
	width: 126px;
	height: 238px;
	margin: 0px 10px 10px 0px;
	box-shadow:2px 2px 2px #ccc;
}

.up_section{
	background-color: rgb(245, 245, 245);
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 193px;
	margin: 0px;
	border-radius: 2px;

}

.up_section:hover{
	background-color: rgb(245, 245, 245);
	filter:gray; 
	-webkit-filter: brightness(60%); 
	-webkit-transition: all .50s ease;
}

.down_section{
	position:relative;
	background-color: #FFF;
	width: 100%;
	height: 46px;
	margin: 0px;
}

.opt{
	z-index: -0;
	position:absolute;
	right:0px;
	height:20px;
	width:50px;
	background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	
}

.img_book{
	display: table;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.down_section h2{
	color: rgb(51, 51, 51);
	cursor: auto;
	display: block;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 17px;
	margin-bottom: 0px;
	margin: 5px 0px 0px 5px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	width: 106px;
	float: left;

}

.down_section h2:hover{
	text-decoration: underline;
}

.name{
	clear: both;
	float: left;
	color: rgb(170, 170, 170);
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	height: 15px;
	line-height: 15px;
	margin: 5px 0px 0px 5px;
	max-width: 132px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
}

.name:hover{
	text-decoration: underline;
}

.price{
	position: absolute;
	top: 20px;
	right: 0px;
	color: rgb(26, 161, 225);
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	margin: 5px 5px 0px 0px;
}

.price:hover{
	text-decoration: underline;
}

.opt_price{
	z-index: -0;
	position:absolute;
	top: 20px;
	right:0px;
	height:20px;
	width:100px;
	background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	
}


#book_cell{
	
}

li{
	margin: 0px 0px 4px 0px;
	float: left;
	list-style-type: none;
}

.area_footer{
	color: rgb(85, 85, 85);
	font-family: Roboto, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	margin: 0px 10px 0px 250px;
}

.footer01{
	margin: 10px 0px 20px 0px;
}
.footer03{
	margin: 10px 0px 10px 0px;
}
.footer02{
	margin: 10px 0px 10px 0px;
}

